.blog__container{
    margin-bottom: 3rem;
    .blogimg{
        width: 100vw;
        height: 40vw;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .blogimg.i1{background-image: url('../../assets/image/absam-n7eei.webp');}
    .blogimg.i2{background-image: url('../../assets/image/aqwa3-tkxnq.webp');}
    .blogimg.i3{background-image: url('../../assets/image/aexkp-basbw.webp');}
    .blogimg.i4{background-image: url('../../assets/image/ak6qy-sslka.webp');}
    .blogimg.i5{background-image: url('../../assets/image/av32w-rvau0.webp');}

    .blog__content{
        h2{
            text-align: center;
            margin: 1.3rem 0rem;
            font-size: 1.2rem;
        }
        p{
            padding: 0.5rem 5vw;
        }
    }
}

@media only screen and (max-width: 1120px) {
    .blog__container{
        margin-top: 6em;
    }
    .blogimg{
        height: 100vw;
    }
}

@media only screen and (max-width: 700px) {
    .blog__container{
        margin-top: 6em;
        .blogimg{
            height: 80vw;
        }
    }
    
}