.detail__container{
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 3rem;
    .topdetail{
        display: grid;
        grid-template-columns: 55% 43%;
        column-gap: 2%;
        margin-bottom: 1.5rem;
        .img__container{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .topcontent__container{
            display: flex;
            flex-direction: column;
            .topcontent{
                margin-bottom: 1rem;
            }
            .topcontent.t1{
                font-weight: 600;
                font-size: 1.2em;
                margin-bottom: -0.1rem;
            }
            .topcontent.t5{
                font-size: 2.3em;
                font-weight: 600;
            }
            .topcontent.t2{
                font-size: 1em;
                margin-bottom: -0.1em;
                color: #636363;
            }
            .topcontent.t3{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: -0.1rem;
                .red__circle{
                    width: 0.5rem;
                    height: 0.5em;
                    border-radius: 0.5rem;
                    background-color: red;
                }
                .quality{
                    font-size: 1em;
                    margin-left: 0.5rem;
                }
            }
            .topcontent.t4{
                display: flex;
                flex-direction: row;
                a{
                    padding: 1rem;
                    text-decoration: none;
                    color: black;
                    border: 0.1rem solid black;
                    margin-right: 2%;
                    width: 20%;
                    display: flex;
                    justify-content: center;
                }
            }

            .whatsapp__btn{
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0.7rem 1rem;
                font-size: 1.2rem;
                border: 0.1rem solid black;
                border-radius: 0.3rem;
                background-color: transparent;
                transition: 150ms;
                color: black;
                svg{
                    margin-right: 0.2rem;
                    font-size: 1.5rem;
                }
            }
            .whatsapp__btn:hover{
                background-color: black;
                color: white;
            }
        }
    }
    .middetail{
        display: grid;
        grid-template-columns: 50% 43%;
        column-gap: 2%;
        margin-bottom: 1.5rem;
        .mid__content{
            display: flex;
            flex-direction: column;
            .title{
                font-weight: 600;
                font-size: 1.2em;
                margin-bottom: 1.5rem;
            }
        }
    }

    .detail__line{
        width: 90vw;
        height: 0.2rem;
        border-bottom: 0.1rem solid black;
    }

    .rekomen__list{
        display: flex;
        flex-direction: column;
        .mainTitle{
            font-weight: 600;
            margin-bottom: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }
        .carousel__container.mobiledes{
            display: none;
        }
        .carousel__container{
            .sliderContainer{
                display: grid;
                grid-template-columns: 1% 98% 1%;
                .Button{
                    background-color: transparent;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    outline: none;
                    .img{
                        width: 3vw;
                        height: 2rem;
                        background-size: 3vw 2rem;
                    }
                    .left__img{
                        background-image: url('../../assets/image/left.svg');
                        z-index: 0;
                    }
                    .right__img{
                        background-image: url('../../assets/image/right.svg');
                        z-index: 0;
                    }
                }
            }
        }
    }
}

.add-item{
    background-color: orange;
    border: none;
    border-radius: 0.3rem;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    margin-bottom: 0.3rem;
    svg{
        font-size: 1.2em;
        margin-right: 0.5em;
    }
}

@media only screen and (max-width: 1120px) {
    .detail__container{
        margin-top: 8rem;
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 810px){
    .detail__container{
        .rekomen__list{
            .carousel__container.mobiledes{
                display: block;
            }
            .carousel__container.mobile{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .detail__container{
        .topdetail{
            grid-template-columns: 1fr;
            row-gap: 1rem;
        }
    
        .middetail{
            grid-template-columns: 1fr;
            row-gap: 4rem;
        } 

        .rekomen__list{
            .carousel__container.mobiledes{
                display: none;
            }
            .carousel__container.mobile{
                display: block;
            }
        }
    }
}