.footer{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 58% 40%;
    column-gap: 2%;
    padding: 2rem 5rem;
    .left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img{
            width: 8rem;
            margin-bottom: 1rem;
        }
        .mebo__logo{
            background-image: url('../../assets/image/blacklogo.svg');
            width: 8rem;
            height: 1.5rem;
            background-size: 8rem 1.5rem;
            background-repeat: no-repeat;
            margin-bottom: 0.5rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .kontak{
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
        .mebo{
            margin-bottom: 0.5rem;
        }
        p{
            font-size: 0.8rem;
        }
        .kontakimg{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-end;
            .wa__logo{
                background-image: url('../../assets/image/walogo1.svg');
                width: 4.5rem;
                height: 1.5rem;
                background-size: 4rem 1.5rem;
                background-repeat: no-repeat;
            }
            .shopee__logo{
                background-image: url('../../assets/image/shopeelogo1.svg');
                width: 5rem;
                height: 1.5rem;
                background-size: 4rem 1.5rem;
                background-repeat: no-repeat;
            }
        }
        img{
            width: 5rem;
            margin-right: 50%;
        }
    }
}

@media only screen and (max-width: 1120px) {
    .footer{
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1fr;
        row-gap: 3rem;
        height: 100%;
    }
}