@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

:root {
    --primary-color: white;
    --secondary-color: #e6e5e1;
    --complement-color: black;
}

.cookie__crumble{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    position: fixed;
    height: 1rem;
    top: 6.9rem;
    z-index: 2;
    padding: 0.5rem 0rem;
    padding-left: 5rem;
    width: 100vw;
    background-color: #f5f5f5;
    .cookie__link{
        text-decoration: none;
        color: black;
        transition: 150ms;
    }
    .cookie__link:hover{
        color: #969696;
    }
}

@media only screen and (max-width: 1120px){
    .cookie__crumble{
        top: 5.8rem;
        padding-left: 1rem;
    }
}