.Header{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    flex-direction: column;
    font-size: 1rem;
    .diskon{
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        padding: 1rem 5rem;
        background-color: #e6e6e6;
    }
    .navbar{
        display: flex;
        align-items: center;
        flex-direction: row;
        align-items: center;
        padding: 1rem 5rem;
        background-color: white;
        .linkimg{
            margin-right: 2%;
            .mebo__logo{
                width: 8rem;
                background-image: url('../../assets/image/blacklogo.svg');
                height: 2rem;
                background-size: 8rem 2rem;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                background-repeat: no-repeat;
                border: none;
                
            }
        }
        ul{
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: row;
            font-size: 0.9rem;
            width: 60%;
            .link{
                text-decoration: none;
                color: black;
                margin-right: 5%;
                transition: 500ms;
                li{
                    width: 100%;
                }
            }
            .link:hover{
                color: lightgray;
            }
        }
        .rightside{
            margin-left: auto;
            display: flex;
            align-items: center;
            flex-direction: row;
            form{
                .barang__form{
                    border: 0.1rem solid #474747;
                    border-radius: 0.15rem;
                    height: 1.5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding: 0.2rem;
                    outline: none;
                    input{
                        border: none;
                        padding-left: 0.2rem;
                        outline: none;
                        padding-right: 0.2rem;
                    }
                    button{
                        background-color: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                        position: relative;
                        right: 0.2rem;
                    }
                }
                
            }
            .snipcart-checkout{
                border: none;
                background-color: transparent;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                outline: none;
                cursor: pointer;
                margin-left: -1rem;
                svg{
                    color: #383838;
                    transition: 150ms;
                }
                svg:hover{
                    color: lightgray;
                }
            }
            form{
                display: flex;
                flex-direction: row;
                margin-right: 2rem;
            }
        }
    }
}


@media only screen and (max-width: 1120px) {
    .Header{
        display: none;
    }
}