.products__container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding: 1rem 5rem;
    max-height: 100%;
    min-height: 22rem;
    margin-bottom: 7.2rem;
    .sidenav{
        flex: 0.2;
        display: flex;
        flex-direction: column;
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        height: 5rem;
        position: sticky;
        position: -webkit-sticky;
        top: 7rem;
        z-index: 0;
        .sidenav__title{
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
        .kategori__list{
            ul{
                padding-left: 1.2rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                .link{
                    text-decoration: none;
                    color: black;
                    transition: 500ms;
                    font-size: 1rem;
                    margin-bottom: 0.3rem;
                }
                .link:hover{
                    color: lightgray;
                }
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        flex: 0.8;
        .item__count{
            display: flex;
            justify-content: center;
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .list__info{
            margin-bottom: 2rem;
        }
    }
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 3%;
    column-gap: 3%;
    .link{
        text-decoration: none;
        color: black;
    }
    .list__container{
        .list__image{
            width: 100%;
        }

        .list__content{
            display: flex;
            flex-direction: column;
            .list__title{
                font-weight: 600;
                font-size: 1rem;
            }
            .list__desc{
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (max-width: 1120px) {
    .products__container{
        margin-top: 10rem;
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 1095px) {
    .products__container{
        display: block;
        margin-bottom: 7rem;
        .sidenav{
            display: none;
        }
    }
    .items{
        grid-template-columns: 1fr 1fr;
    }
}