.kContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contain{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 30vw;
    position: relative;
}


.contain.c1{background-image: url('../../assets/image/ab5dy-ygpvf.webp');}
.contain.c2{background-image: url('../../assets/image/af5vl-u4fir.webp');}
.contain.c3{background-image: url('../../assets/image/a9en2-ci948.webp');}
.contain.c4{background-image: url('../../assets/image/ax629-74lnj.webp');}

@media only screen and (max-width: 1275px){
}

@media only screen and (max-width: 910px) {
}

@media only screen and (max-width: 780px) {
    .contain.c1{background-image: url('../../assets/image/as4ps-noxs9.webp');}
    .contain.c2{background-image: url('../../assets/image/a8vg2-90j1k.webp');}
    .contain.c3{background-image: url('../../assets/image/ap6d8-kxs94.webp');}
    .contain.c4{background-image: url('../../assets/image/axya8-jpjm6.webp');}
    .contain{
        padding-top: 32vw;
    }
}

@media only screen and (max-width: 600px) {
    .kContainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .contain{
        padding-top: 60vw;
    }
}

// @media only screen and (max-width: 450px) {
    
// }