.sidenav{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    flex-direction: column;
    font-size: 1rem;
    background-color: white;
}

.sidenav > .promo{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0rem;
    background-color: lightgray;
}

.sidenav > .navbar1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem;
}

.sidenav > .navbar1 > a{
    margin-right: auto;
}

.sidenav > .navbar1 > a > .mebo__logo {
    background-image: url('../../assets/image/blacklogo.svg');
    width: 8rem;
    height: 2rem;
    background-size: 8rem 2rem;
    background-repeat: none;
}

.sidenav > .navbar1 > .burgerIcon{
    font-size: 1.3rem;
    cursor: pointer;
}

.sidenav > .navbar1 > .searchIcon{
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.containernav > .navMenu{
    background-color: #e3e3e3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -200%;
    transition: 850ms;
    z-index: 3;
}

.containernav > .navMenu > .topitems{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.containernav > .navMenu > .topitems > .mebo__logo{
    background-image: url('../../assets/image/blacklogo.svg');
    width: 8rem;
    height: 2rem;
    background-size: 8rem 2rem;
    background-repeat: none;
    margin-right: auto;
}

.containernav > .navMenu > .topitems > svg{
    cursor: pointer;
}

.containernav > .navMenu.active{
    right: 0;
    transition: 450ms;
}

.containernav > .navMenu > .navitems{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidenav > .navbar > .navSearch > .navitems{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
}

.containernav > .navMenu > .navitems > a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0.5rem 1.8rem;
    
    border-top: 0.1rem solid black;
    width: 100vw;
    transition: 400ms;
    background-color: #e3e3e3;
}
.sidenav > .navbar > .navSearch > .navitems{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 0.5rem 1rem;
    
    border-top: 0.1rem solid black;
    width: 100vw;
    transition: 400ms;
    background-color: #e3e3e3;
}

.containernav > .navMenu > .navitems > a:hover{
    background-color: black;
    color: white;
}

/* search nav */
.containernav > .navSearch{
    background-color: #e3e3e3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -200%;
    transition: 850ms;
    z-index: 3;
}

.containernav > .navSearch.active{
    left: 0;
    transition: 350ms;
}

.containernav > .navSearch > .topitems{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

.containernav > .navSearch > .topitems > form{
    width: 90%;
}

.containernav > .navSearch > .topitems > .xbtn{
    font-size: 2rem;
    width: 10%;
    cursor: pointer;
}

.containernav > .navSearch > .topitems > form > input{
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 0.1rem solid black;
    width: 80%;
    font-size: 2rem;
}

.containernav > .navSearch > .topitems > form > input:focus{
    background-color: transparent;
}

.containernav > .navSearch > .topitems > form > button{
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    width: 20%;
}

.containernav > .navSearch > .navitems{
    display: flex;
    flex-direction: column;
}
.containernav > .navSearch > .navitems > .searchtop{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.containernav{
    display: none;
}

@media only screen and (max-width: 1120px) {
    .containernav{
        display: block;
        
    }
}